fastapi==0.115.6
uvicorn[standard]==0.34.0
jinja2==3.1.5
python-multipart==0.0.20
itsdangerous==2.2.0
python-dotenv==1.2.2
pytest==8.3.4
httpx==0.28.1
numpy
pillow
setuptools<70.0.0
dlib-bin
face_recognition_models @ git+https://github.com/ageitgey/face_recognition_models
