[supabase]
url = "https://YOUR_PROJECT_ID.supabase.co"
anon_key = "YOUR_SUPABASE_ANON_KEY"
service_role_key = "YOUR_SUPABASE_SERVICE_ROLE_KEY"

[app]
session_secret = "replace-with-a-long-random-secret"

[modules]
attendance_url = "http://127.0.0.1:8503"
timetable_url = "http://127.0.0.1:8000"
ats_frontend_url = "http://127.0.0.1:8504"
ats_backend_url = "http://127.0.0.1:8001"
notes_test_url = "http://127.0.0.1:5173"
notes_test_api_url = "http://127.0.0.1:8002"
alumni_url = ""
